<% if user_signed_in? %>
	<h1>Event Management of <%= current_user.email %> </h1>
	<h1></h1><br><br>

		<div class="row">
			<%=link_to 'Create Event', new_event_path %>
		</div>
		<div class="row">
			<div class="col-4">
				 
			</div><br><br>
			<div class="col-8">
				<div>
					<ul class="nav">
						<li>
							<p><strong><%= @events.count %></strong> events created 
							</p>
						</li>
					</ul>
					
				</div>
			</div>
		</div>
		<div class="row">
			<%= render @events %>
		</div>
		<%= will_paginate @events %>
<% else %>
	<h1>PageEvents</h1>
<% end -%>

